<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}">

<head>
    <title>flashcard entity error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<section>
    <h1>Entity Not Found</h1>
    <p>There are some conflicts. Please contact the administrator...</p>
</section>
</body>
</html>